body * {
    // outline: 1px solid red;
}

body {
    width: 94%;
    margin: 0 auto;
    justify-content: center;
    line-height: 1.7rem;
    input {
        width: 50%;
    }
    tbody {
        outline: 1px black solid;
        tr {
            outline: 1px black solid;
            td {
                outline: 1px black solid;
            }
        }
    }
}

.jobName {
    width: 32%;
}
.ampm {
    text-align: center;
}
span {
    margin: 2px 2px;
    border: 1px solid black;
}
