body * {
    // outline: 1px solid red;
}
tbody * {
    outline: 1px black solid;
}
body{
    width:94%;
    margin: 0 auto;
    justify-content: center;
    line-height: 1.7rem;
}
.jobName{
    width: 32%;
}
.ampm{
    text-align: center;
}
span{
    width: 1em;
    height: 1em;
    line-height: 1em;
    border: 1px solid black;
}